{% extends 'shared/base.html' %}

{% block content %}
<content>
    {% if user.is_authenticated %}
    <p>Currently logged in as <b>{{ user.username }}</b>.</p>
    {% endif %}
    <ul>    
        {% if posts %}
            {% for post in posts %}
            <h3>
                Post #{{ post.id }} by {{ post.op }} {% include 'blog/votes.html' %}
            </h3>

            <li>{{ post.content }}</li>
            {% endfor %}
        {% else %}
            <i>No posts found</i>
        {% endif %}
    </ul>
</content>
{% endblock content %}