<header>
    <h1>KMicroblog</h1>
</header>
<nav>
    <ul>
        <li><a href="{% url 'blog:index' %}">Home</a></li>
        <li><a href="{% url 'blog:add_post' %}">Write a post</a></li>
        
        {% if user.is_authenticated %}
        <li><a href="{% url 'authentication:logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'authentication:login' %}">Log in</a></li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <p>Currently logged in as <b>{{ user.username }}</b>.</p>
    {% endif %}
    <hr />
</nav>